:root {
  /* Primary colors */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --bg-color: hsl(202, 86%, 94%);
  --text-color: hsl(203, 41%, 72%);
  --result-text-color: hsl(200, 26%, 54%);
  --result-color: hsl(200, 24%, 40%);
  --main-result-color: hsl(202, 55%, 16%);
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  
}
body{
  font-family: 'Plus Jakarta Sans' , sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--bg-color);
  
  
}


.card{

  margin-top: 10%;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  
  
  
  
  
 
  

}


.inputForm{
  padding: 33px 30px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius:0;
  background-color:white;
  color: var(--main-result-color);
  width: 50%;
  


  
  
  
}

.title{
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--main-result-color);
  
}

.title > button{
  width: fit-content;
  background-color: white;
  text-decoration: underline;
  border-style: none;
  color: var(--result-text-color);
}

.result{
  background-color:  var(--main-result-color); 
  width: 50%;
  padding: 33px 30px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 80px;
  display: none;

}

.default-result{
  background-color: var(--main-result-color); 
  width: 50%;
  padding: 33px 30px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.default-result > :nth-child(1){
  width: 200px;
}

.default-result > :nth-child(2) {
  color: var(--color-white);
  font-weight:700;
  font-size: x-large;

}

.default-result > :nth-child(3){
  color: var(--result-text-color);
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}

input[type = 'text']{
  font-weight: 700;
  padding-left: 10px;
  


}


/*for INPUT of mortgage Amount*/

.inputMortgageAmount{
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: var(--bg-color);
  border-color: var(--result-text-color);
  
  
  

  
}

.inputMortgageAmount > input{
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  border-style: none;
  outline: none;
  



}

.inputMortgageAmount > p{
  font-weight: 700;
  font-style: 'Plus Jakarta Sans';
  color: var(--result-color);
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 5px 0px 0px 5px;
  
}

/*for mortgageterm and interest rate*/

.mortgageTerm-and-interestRate{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
  
  

}

/*for mortgageterm and interest rate*/

.mortgageTermInput , .interestRateInput{
  display: flex;
  background-color:  var(--bg-color);
  width: 100%;
  margin-top: 7px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 5px;
  border-color: var(--result-text-color);


  
  

  
  
  
}

.interestRateInput > input{
  
  width: 100%;
  border-style: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}

.mortgageTermInput > input{
  width: 100%;
  border-style: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}

.mortgageTermInput > p{
  font-weight: 700;
  background-color:  var(--bg-color);
  font-style: 'Plus Jakarta Sans';
  color: var(--result-color);
  padding: 12px;
  border-radius:  0px 5px 5px 0px;
}

.interestRateInput > p{
  font-weight: 700;
  background-color:  var(--bg-color);
  font-style: 'Plus Jakarta Sans';
  color: var(--result-color);
  padding: 12px;
  border-radius: 0px 5px 5px 0px;
}

.for-mortgage-term , .for-interest-rate {
  
  display: flex;
  width: 48%;
  flex-direction: column;
}


.chooseMortgageType{
  display: flex;
  
  flex-direction: column;
  gap: 10px;
}


.chooseMortgageType > p {

  margin-top: 15px;
  color: var(--result-text-color);


  
}
.chooseMortgageType :nth-child(1){
  background-color: none;
}

.options{
  display: flex;
  gap: 10px;
  padding: 12px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  font-weight: 700;
  border-color: var(--result-text-color);
  
}

.calculate-btn{
  background-color: var(--color-lime);
  border-style: none;
  width: 100%;
  padding: 15px 50px;
  border-radius: 50px;
  font-style: 'Plus Jakarta Sans';
  font-weight: 700;
  margin-top: 30px;
  font-size: 16px;
  color: var(--main-result-color);

}





.your-result{
  color: var(--bg-color);
  font-size: larger;
  font-weight: 700;
  margin-bottom: 15px;
  

}

.desc{
  color: var(--result-text-color);
  font-weight: 500;
  font-size: 17px;
}

.result-container{
  margin-top: 20px;
  padding: 20px;
  width: 90%;
  background-color: hsl(201, 54%, 11%);
  border-radius: 8px;  
  border-top-style: solid;
  border-color: var(--color-lime);
  border-width: 3.5px;
  
}

.monthlyPaymentElement :nth-child(1) , .totalRepaymentElement :nth-child(1){
  color: var(--result-text-color);
  margin-left: 10px;
}

.monthlyPaymentElement :nth-child(2){
  color: var(--color-lime);
  margin-left: 10px;
  font-size: 50px;
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 13px;
  
}

.totalRepaymentElement :nth-child(1){
  border-top-style: solid;
  border-color: var(--main-result-color);
  border-width: 1px;
  padding-top: 30px;
}

.totalRepaymentElement :nth-child(2){
  color: var(--bg-color);
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 13px;
  margin-bottom: 13px;
  
}

.mortgage-amount-error{
  margin-bottom: 5px;
  display: none;
  color: red;

}

.mortgage-term-error{
  margin-bottom: 5px;
  display: none;
  color: red;

}

.interest-rate-error{
  margin-bottom: 5px;
  display: none;
  color: red;

}

.radio-error{
  margin-top: 5px;
  display: none;
  color: red;
}









/*
error ==== if (error){
error.style.disply = 'block'
input.mortgageamount.style.margin-bottom = '0'
}else{
error.style.display = 'none'
input.mortgageamount.style.margin-bottom = 5px ;
}



*/
/*
.inputMortgageAmount ,  .mortgageTermInput , .interestRateInput{
  background-color: red;
  border-color: red;
}

.inputMortgageAmount , .mortgageTermInput , .interestRateInput {
  color: white;
  background-color: red;
}
  */


.border-error-style-1{
  background-color: red;
  border-color: red;
}

.border-error-style-2{
  background-color: red;
  border-color: red;
}

.border-error-style-3{
  background-color: red;
  border-color: red;
}

.options input[type="radio"]:checked p {
  color: red; /* Change text color when selected */
  font-weight: bold; /* Make text bold */
}



label{
  color: var(--result-text-color);
}

.selected{
  border-color: red;
}

.mortgageAmountContainer :hover{
  border-color: var(--main-result-color);
  border-width: .1.5rem;
  cursor: pointer;
}




.mortgageTermBorderContainer :hover{
  border-color: var(--main-result-color);
  border-style: solid;
  cursor: pointer;
}

.mortgageTermInput :hover{
  border-style: none;
}

.interestRateBorderCointainer :hover{
  cursor: pointer;
  border-color: var(--main-result-color);
  border-style: solid;
}

.interestRateInput :hover{
  border-style: none;
}

.title :nth-child(2):hover {
  cursor: pointer;
  color: var(--main-result-color);
  
}

.optionBorderCointainer :hover{
  border-style: solid;
  border-color:var(--color-lime);

}

.options :hover {
  border-style: none;
}

.options input[type="radio"]:checked{
  background-color: red;
}



.interestRateBorderCointainer :focus{
 
  background-color : hsl(61, 94%, 88%);

}

.mortgageTermBorderContainer :focus{
  background-color: hsl(61, 94%, 88%);
 
}

.mortgageAmountContainer :focus{
  background-color : hsl(61, 94%, 88%);


}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}




















@media (max-width: 767px) {
  body{
    height : 100% ;
    width : 100%;

 
  .card{
  
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(248, 246, 246);
    justify-content: center;
    height: 100%;
   
    
  
  }

  .title{
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 30px;
    
  }

  .title > button{
    width: fit-content;
    background-color: white;
    margin-top: 10px;
    text-decoration: underline;
    border-style: none;
  }

  .inputForm{
    border-radius: 0;
    padding: 33px 25px;
    background-color:white;
    color: var(--main-result-color);
    width: 100%;
    
    
    
  }

  .for-mortgage-term , .for-interest-rate {
  
    display: flex;
    width: 100%;
    flex-direction: column;
    
  }

  .result{
    width: 100%;
    border-radius: 0;
  }

  .default-result{
    width: 100%;
    border-radius: 0;
  }

  .default-result > :nth-child(1){
    width: 150px;
  }
  
  .default-result > :nth-child(2) {
    color: var(--color-white);
    font-weight:700;
    font-size: 20px;
  
  }
  
  .default-result > :nth-child(3){
    color: var(--result-text-color);
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
  }


  
}










